{% extends 'admin/baseAdmin.html.twig' %}

    {% block main %}

        <section class="py-5 text-center container w-100">
            <ul class="list-group">
                <li class="list-group-item my-0">
                    xx Posts
                    <ul class="list-group">
                        <li class="list-group-item mb-0">
                            xx En ligne
                        </li>
                        <li class="list-group-item mt-0">
                            xx Archivés
                        </li>
                    </ul>
                </li>
                <li class="list-group-item my-0">
                    xx Commentaires
                    <ul class="list-group">
                        <li class="list-group-item mb-0">
                            xx En ligne
                        </li>
                        <li class="list-group-item my-0">
                            xx Signalés
                        </li>
                        <li class="list-group-item mt-0">
                            xx Désactivés
                        </li>
                    </ul>
                </li>
                <li class="list-group-item my-0">
                    xx Messages
                </li>
            </ul>
    {% endblock %}