{% extends 'admin/baseAdmin.html.twig' %}

    {% block main %}

        <section class="py-5 text-center container w-100">
            <h1>Bienvenue dans votre espace administrateur</h1>
            <p>Gérez ici vos articles, vos utilisateurs, et les messages que les visiteurs vous envoient.</p>
        </section>
    {% endblock %}
