{% extends 'base.html.twig' %}

    {% block main %}

        <section class="py-5 text-center container w-100">

            <p>Votre inscription à bien prise en compte.</p>
            <a href="/">Retourner à la page d'accueil</a>
        </section>
    {% endblock %}
